@charset "UTF-8";

.create-bg {
	background: url("https://media.istockphoto.com/photos/snake-skin-background-picture-id659198938?k=6&m=659198938&s=612x612&w=0&h=1LGRYs73QR1P9HFFnmkiTvgpnGwu3W6h0QCjvv5Y7dM=") no-repeat center center fixed;
	webkit-background-size: cover;
	moz-background-size: cover;
	o-background-size: cover;
	background-size: cover;
}

.topnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

.topnav li {
    float: left;
}

.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.topnav li a:hover {
    background-color: green;
}

h2 {
	position: relative; 
	margin-top: 70px; 
	color: white;
	font-size: 60px; 
	text-align: center; 
}

.delete {
	position: relative; 
	color: white;
	font-size: 20px; 
	text-align: left; 
}